/* Constants used elsewhere in the codebase.
 *
 * These are not designed to be overridden by users or keyboards.
 */

/* Colors for prefers-color-scheme: light (and default)
 *
 * Derived from user-specified properties.
 */
:host {
  --_foreground-color: var(--_light-foreground-color);
  --_button-border-color: var(--_light-button-border-color);
  --_key-fg: var(--_light-key-fg);

  --_key-reg-bg: var(--_light-key-reg-bg);
  --_key-reg-br: var(--_light-key-reg-br);
  --_key-reg-hv: var(--_light-key-reg-hv);
  --_key-reg-fc: var(--_light-key-reg-fc);

  --_key-sel-bg: var(--_light-key-sel-bg);
  --_key-sel-br: var(--_light-key-sel-br);
  --_key-sel-hv: var(--_light-key-sel-hv);
  --_key-sel-fc: var(--_light-key-sel-fc);
  --_key-sel-li: var(--_light-key-sel-li);

  --_key-grp-bg: var(--_light-key-grp-bg);
  --_key-grp-br: var(--_light-key-grp-br);
  --_key-grp-hv: var(--_light-key-grp-hv);
  --_key-grp-fc: var(--_light-key-grp-fc);

  --_key-tgt-bg: var(--_light-key-tgt-bg);
  --_key-tgt-br: var(--_light-key-tgt-br);
  --_key-tgt-hv: var(--_light-key-tgt-hv);
  --_key-tgt-fc: var(--_light-key-tgt-fc);
  --_key-tgt-li: var(--_light-key-tgt-li);

  --_key-lay-bg: var(--_light-key-lay-bg);
  --_key-lay-br: var(--_light-key-lay-br);
  --_key-lay-hv: var(--_light-key-lay-hv);

  --_key-lsl-bg: var(--_light-key-lsl-bg);
  --_key-lsl-br: var(--_light-key-lsl-br);
  --_key-lsl-hv: var(--_light-key-lsl-hv);

  --_key-img-filter: none;

  --_kbd-fg: var(--_light-kbd-fg);
  --_kbd-border-color: var(--_light-kbd-border-color);
  --_kbd-background: var(--_light-kbd-background);

  --_link-fg: var(--_light-link-fg);
  --_text-muted: var(--_light-text-muted);
}

/* Colors for prefers-color-scheme: dark
 *
 * Derived from user-specified properties.
 */
@media (prefers-color-scheme: dark) {
  :host {
    --_foreground-color: var(--_dark-foreground-color);
    --_button-border-color: var(--_dark-button-border-color);
    --_key-fg: var(--_dark-key-fg);
    --_key-reg-bg: var(--_dark-key-reg-bg);
    --_key-reg-br: var(--_dark-key-reg-br);
    --_key-reg-hv: var(--_dark-key-reg-hv);
    --_key-sel-bg: var(--_dark-key-sel-bg);
    --_key-sel-br: var(--_dark-key-sel-br);
    --_key-sel-hv: var(--_dark-key-sel-hv);
    --_key-grp-bg: var(--_dark-key-grp-bg);
    --_key-grp-br: var(--_dark-key-grp-br);
    --_key-grp-hv: var(--_dark-key-grp-hv);
    --_key-tgt-bg: var(--_dark-key-tgt-bg);
    --_key-tgt-br: var(--_dark-key-tgt-br);
    --_key-tgt-hv: var(--_dark-key-tgt-hv);
    --_key-reg-fc: var(--_dark-key-reg-fc);
    --_key-sel-fc: var(--_dark-key-sel-fc);
    --_key-grp-fc: var(--_dark-key-grp-fc);
    --_key-tgt-fc: var(--_dark-key-tgt-fc);
    --_key-lay-bg: var(--_dark-key-lay-bg);
    --_key-lay-br: var(--_dark-key-lay-br);
    --_key-lay-hv: var(--_dark-key-lay-hv);
    --_key-lsl-bg: var(--_dark-key-lsl-bg);
    --_key-lsl-br: var(--_dark-key-lsl-br);
    --_key-lsl-hv: var(--_dark-key-lsl-hv);
    --_key-img-filter: invert(1);
    --_kbd-fg: var(--_dark-kbd-fg);
    --_kbd-border-color: var(--_dark-kbd-border-color);
    --_kbd-background: var(--_dark-kbd-background);
    --_key-tgt-li: var(--_dark-key-tgt-li);
    --_key-sel-li: var(--_dark-key-sel-li);
    --_link-fg: var(--_dark-link-fg);
    --_text-muted: var(--_dark-text-muted);
  }
}

/* Colors when the color-scheme attribute is set to dark, regardless of user agent prefers-color-scheme
 *
 * Derived from user-specified properties.
 */
:host([color-scheme="dark"]) {
  --_foreground-color: var(--_dark-foreground-color);
  --_button-border-color: var(--_dark-button-border-color);
  --_key-fg: var(--_dark-key-fg);
  --_key-reg-bg: var(--_dark-key-reg-bg);
  --_key-reg-br: var(--_dark-key-reg-br);
  --_key-reg-hv: var(--_dark-key-reg-hv);
  --_key-sel-bg: var(--_dark-key-sel-bg);
  --_key-sel-br: var(--_dark-key-sel-br);
  --_key-sel-hv: var(--_dark-key-sel-hv);
  --_key-grp-bg: var(--_dark-key-grp-bg);
  --_key-grp-br: var(--_dark-key-grp-br);
  --_key-grp-hv: var(--_dark-key-grp-hv);
  --_key-tgt-bg: var(--_dark-key-tgt-bg);
  --_key-tgt-br: var(--_dark-key-tgt-br);
  --_key-tgt-hv: var(--_dark-key-tgt-hv);
  --_key-reg-fc: var(--_dark-key-reg-fc);
  --_key-sel-fc: var(--_dark-key-sel-fc);
  --_key-grp-fc: var(--_dark-key-grp-fc);
  --_key-tgt-fc: var(--_dark-key-tgt-fc);
  --_key-lay-bg: var(--_dark-key-lay-bg);
  --_key-lay-br: var(--_dark-key-lay-br);
  --_key-lay-hv: var(--_dark-key-lay-hv);
  --_key-lsl-bg: var(--_dark-key-lsl-bg);
  --_key-lsl-br: var(--_dark-key-lsl-br);
  --_key-lsl-hv: var(--_dark-key-lsl-hv);
  --_key-img-filter: invert(1);
  --_kbd-fg: var(--_dark-kbd-fg);
  --_kbd-border-color: var(--_dark-kbd-border-color);
  --_kbd-background: var(--_dark-kbd-background);
  --_key-tgt-li: var(--_dark-key-tgt-li);
  --_key-sel-li: var(--_dark-key-sel-li);
  --_link-fg: var(--_dark-link-fg);
  --_text-muted: var(--_dark-text-muted);
}

/* Colors when the color-scheme attribute is set to light, regardless of user agent prefers-color-scheme
 *
 * Derived from user-specified properties.
 */
:host([color-scheme="light"]) {
  --_foreground-color: var(--_light-foreground-color);
  --_button-border-color: var(--_light-button-border-color);
  --_key-fg: var(--_light-key-fg);
  --_key-reg-bg: var(--_light-key-reg-bg);
  --_key-reg-br: var(--_light-key-reg-br);
  --_key-reg-hv: var(--_light-key-reg-hv);
  --_key-sel-bg: var(--_light-key-sel-bg);
  --_key-sel-br: var(--_light-key-sel-br);
  --_key-sel-hv: var(--_light-key-sel-hv);
  --_key-grp-bg: var(--_light-key-grp-bg);
  --_key-grp-br: var(--_light-key-grp-br);
  --_key-grp-hv: var(--_light-key-grp-hv);
  --_key-tgt-bg: var(--_light-key-tgt-bg);
  --_key-tgt-br: var(--_light-key-tgt-br);
  --_key-tgt-hv: var(--_light-key-tgt-hv);
  --_key-reg-fc: var(--_light-key-reg-fc);
  --_key-sel-fc: var(--_light-key-sel-fc);
  --_key-grp-fc: var(--_light-key-grp-fc);
  --_key-tgt-fc: var(--_light-key-tgt-fc);
  --_key-lay-bg: var(--_light-key-lay-bg);
  --_key-lay-br: var(--_light-key-lay-br);
  --_key-lay-hv: var(--_light-key-lay-hv);
  --_key-lsl-bg: var(--_light-key-lsl-bg);
  --_key-lsl-br: var(--_light-key-lsl-br);
  --_key-lsl-hv: var(--_light-key-lsl-hv);
  --_key-img-filter: none;
  --_kbd-fg: var(--_light-kbd-fg);
  --_kbd-border-color: var(--_light-kbd-border-color);
  --_kbd-background: var(--_light-kbd-background);
  --_key-tgt-li: var(--_light-key-tgt-li);
  --_key-sel-li: var(--_light-key-sel-li);
  --_link-fg: var(--_light-link-fg);
  --_text-muted: var(--_light-text-muted);
}

/* Values derived from properties that keyboards might override.
 *
 * Calculated here once for DRY.
 */
.keymap-ui-kid-container {
  --kid-diamarg-width: calc(var(--keyboard-grid-unit) * 2);
}
