/* Parameters that web pages can control
 *
 * All parameters in this file are specified like this:
 *   --_parameter-name: var(--parameter-name, default-value);
 * The rest of the code all uses the `--_parameter-name` variable.
 * Web page authors may specify the `--parameter-name` variable,
 * and if they don't, the default value will be used.
 *
 * The color system is designed to allow simple customization or full flexibility.
 * Colors all have a base value that is defined as oklch directly,
 * and one or more derived values that are calculated from the base value.
 * For easy customization, override just the base values;
 * for full control, override the derived values as well.
 *
 * About color names:
 * Color names are made up of 4 components.
 * THEME-key-TYPE-FUNC
 *   THEME: either "light" or "dark"
 *   key:   The literal token "key"
 *   TYPE:  The type of key:
 *     reg: A key on the board not in one of these other states
 *     sel: The key the user has selected
 *     tgt: A diagram target key (e.g. a key that is the target of a diagram line)
 *          (e.g. a keymap might place all modifiers in the same group so they're easy to find)
 *     lay: A layer entry key, showing how the current layer is entered
 *     lsl: A layer entry key that the user has currently selected
 *   FUNC: The function of the color:
 *     bg: Background color
 *     br: Border color
 *     hv: Hovered over by mouse background color
 *     fc: Focused on by keyboard background color
 *     av: Active; mouse click down background color
 *     li: Diagram line color
 *         (the color of a line drawn to the key, if any)
 *
 * This file is ignored in .prettierignore to keep it from fucking up our nice manual formatting.
 */

/*******************************************************************************
 * User-overridable variables, including for light mode and the default screen size
 */
:host {
  /* Fonts
   */
  --_key-legend-font: var(--key-legend-font, monospace);
  --_font-family: var(
    --font-family,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji
  );

  /* Light mode color definitions */
  --_light-foreground-color: var(--light-foreground-color, black);
  --_light-button-border-color: var(--light-button-border-color, oklch(87.2% 0.009 258.3));
  --_light-key-fg: var(--light-key-fg, black);

  /* Base Key Colors */
  --_light-key-reg-bg: var(--light-key-reg-bg, oklch(95.9% 0.009 247.9));
  --_light-key-reg-br: var(--light-key-reg-br, oklch(from var(--_light-key-reg-bg) calc(l - 0.213) calc(c + 0.021) calc(h + 6.8)));
  --_light-key-reg-hv: var(--light-key-reg-hv, oklch(from var(--_light-key-reg-bg) calc(l - 0.090) calc(c + 0.010) calc(h + 2.7)));
  --_light-key-reg-fc: var(--light-key-reg-fc, oklch(from var(--_light-key-reg-bg) calc(l - 0.030) calc(c + 0.004) calc(h + 7.6)));

  /* Active Key Colors */
  --_light-key-sel-bg: var(--light-key-sel-bg, oklch(80.1% 0.134 68.8));
  --_light-key-sel-br: var(--light-key-sel-br, oklch(from var(--_light-key-sel-bg) calc(l - 0.222) calc(c + 0.016) calc(h - 25.0)));
  --_light-key-sel-hv: var(--light-key-sel-hv, oklch(from var(--_light-key-sel-bg) calc(l - 0.148) calc(c + 0.030) calc(h - 20.4)));
  --_light-key-sel-fc: var(--light-key-sel-fc, oklch(from var(--_light-key-sel-bg) calc(l - 0.034) calc(c - 0.005) calc(h + 00.2)));
  --_light-key-sel-li: var(--light-key-sel-li, oklch(from var(--_light-key-sel-bg) calc(l + 0.085) calc(c - 0.035) calc(h + 12.1) / 0.6));

  /* Related Active Key Colors */
  --_light-key-grp-bg: var(--light-key-grp-bg, oklch(94.6% 0.05 82.8));
  --_light-key-grp-br: var(--light-key-grp-br, oklch(from var(--_light-key-grp-bg) calc(l - 0.222) calc(c + 0.103) calc(h - 26.7)));
  --_light-key-grp-hv: var(--light-key-grp-hv, oklch(from var(--_light-key-grp-bg) calc(l - 0.145) calc(c + 0.084) calc(h - 14.0)));
  --_light-key-grp-fc: var(--light-key-grp-fc, oklch(from var(--_light-key-grp-bg) calc(l - 0.057) calc(c + 0.016) calc(h - 00.2)));

  /* Diagram Target Key Colors */
  --_light-key-tgt-bg: var(--light-key-tgt-bg, oklch(93.1% 0.066 154.9));
  --_light-key-tgt-br: var(--light-key-tgt-br, oklch(from var(--_light-key-tgt-bg) calc(l - 0.221) calc(c + 0.077) calc(h - 0.4)));
  --_light-key-tgt-hv: var(--light-key-tgt-hv, oklch(from var(--_light-key-tgt-bg) calc(l - 0.145) calc(c + 0.072) calc(h - 0.4)));
  --_light-key-tgt-fc: var(--light-key-tgt-fc, oklch(from var(--_light-key-tgt-bg) calc(l - 0.066) calc(c + 0.016) calc(h - 1.2)));
  --_light-key-tgt-li: var(--light-key-tgt-li, oklch(from var(--_light-key-tgt-bg) calc(l - 0.145) calc(c + 0.072) calc(h - 0.4)));

  /* Layer Key Colors */
  --_light-key-lay-bg: var(--light-key-lay-bg, oklch(94.6% 0.033 307.2));
  --_light-key-lay-br: var(--light-key-lay-br, oklch(from var(--_light-key-lay-bg) calc(l - 0.319) calc(c + 0.200) calc(h - 3.3)));
  --_light-key-lay-hv: var(--light-key-lay-hv, oklch(from var(--_light-key-lay-bg) calc(l - 0.080) calc(c + 0.051) calc(h - 0.6)));

  /* Selected Layer Key Colors */
  --_light-key-lsl-bg: var(--light-key-lsl-bg, oklch(from var(--_light-key-lay-bg) calc(l - 0.159) calc(c + 0.105) calc(h - 00.8)));
  --_light-key-lsl-br: var(--light-key-lsl-br, oklch(from var(--_light-key-lay-bg) calc(l - 0.405) calc(c + 0.214) calc(h - 14.2)));
  --_light-key-lsl-hv: var(--light-key-lsl-hv, oklch(from var(--_light-key-lay-bg) calc(l - 0.267) calc(c + 0.179) calc(h - 02.8) / 0.6));

  /* Misc light mode colors */
  --_light-kbd-fg: var(--light-kbd-fg, black);
  --_light-kbd-border-color: var(--light-kbd-border-color, oklch(73.8% 0 NaN));
  --_light-kbd-background: var(--light-kbd-background, linear-gradient(180deg, oklch(100% 0 NaN), oklch(100% 0 NaN), oklch(100% 0 NaN), oklch(89.8% 0 NaN)));
  --_light-link-fg: var(--light-link-fg, oklch(59.5% 0.14 250.3));
  --_light-text-muted: var(--light-text-muted, oklch(71.4% 0.019 261.3));

  /* Dark mode color definitions */
  --_dark-foreground-color: var(--dark-foreground-color, white);
  --_dark-button-border-color: var(--dark-button-border-color, oklch(44.6% 0.026 256.8));
  --_dark-key-fg: var(--dark-key-fg, oklch(96.7% 0.003 264.5));

  /* Base Key Colors */
  --_dark-key-reg-bg: var(--dark-key-reg-bg, oklch(37.3% 0.031 259.7));
  --_dark-key-reg-br: var(--dark-key-reg-br, oklch(from var(--_dark-key-reg-bg) calc(l + 0.178) calc(c - 0.008) calc(h + 4.7)));
  --_dark-key-reg-hv: var(--dark-key-reg-hv, oklch(from var(--_dark-key-reg-bg) calc(l + 0.073) calc(c - 0.005) calc(h - 2.9)));
  --_dark-key-reg-fc: var(--dark-key-reg-fc, oklch(from var(--_dark-key-reg-bg) calc(l + 0.073) calc(c - 0.005) calc(h - 2.9)));

  /* Active Key Colors */
  --_dark-key-sel-bg: var(--dark-key-sel-bg, oklch(68.1% 0.152 58.4));
  --_dark-key-sel-br: var(--dark-key-sel-br, oklch(from var(--_dark-key-sel-bg) calc(l - 0.126) calc(c - 0.006) calc(h - 09.4)));
  --_dark-key-sel-hv: var(--dark-key-sel-hv, oklch(from var(--_dark-key-sel-bg) calc(l - 0.069) calc(c - 0.012) calc(h - 03.6)));
  --_dark-key-sel-fc: var(--dark-key-sel-fc, oklch(from var(--_dark-key-sel-bg) calc(l - 0.069) calc(c - 0.012) calc(h - 03.6)));
  --_dark-key-sel-li: var(--dark-key-sel-li, oklch(from var(--_dark-key-sel-bg) calc(l + 0.088) calc(c + 0.013) calc(h + 11.7) / 0.8));

  /* Related Active Key Colors */
  --_dark-key-grp-bg: var(--dark-key-grp-bg, oklch(43.7% 0.102 53));
  --_dark-key-grp-br: var(--dark-key-grp-br, oklch(from var(--_dark-key-grp-bg) calc(l + 0.244) calc(c + 0.050) calc(h + 05.4)));
  --_dark-key-grp-hv: var(--dark-key-grp-hv, oklch(from var(--_dark-key-grp-bg) calc(l + 0.100) calc(c - 0.009) calc(h + 13.5)));
  --_dark-key-grp-fc: var(--dark-key-grp-fc, oklch(from var(--_dark-key-grp-bg) calc(l + 0.100) calc(c - 0.009) calc(h + 13.5)));

  /* Diagram Target Key Colors */
  --_dark-key-tgt-bg: var(--dark-key-tgt-bg, oklch(38.2% 0.072 154.4));
  --_dark-key-tgt-br: var(--dark-key-tgt-br, oklch(from var(--_dark-key-tgt-bg) calc(l + 0.391) calc(c + 0.081) calc(h + 8.8)));
  --_dark-key-tgt-hv: var(--dark-key-tgt-hv, oklch(from var(--_dark-key-tgt-bg) calc(l + 0.145) calc(c + 0.065) calc(h - 4.3)));
  --_dark-key-tgt-fc: var(--dark-key-tgt-fc, oklch(from var(--_dark-key-tgt-bg) calc(l + 0.120) calc(c + 0.033) calc(h + 1.9)));
  --_dark-key-tgt-li: var(--dark-key-tgt-li, oklch(from var(--_dark-key-tgt-bg) calc(l + 0.391) calc(c + 0.081) calc(h + 8.8)));

  /* Layer Key Colors */
  --_dark-key-lay-bg: var(--dark-key-lay-bg, oklch(38.1% 0.166 305));
  --_dark-key-lay-br: var(--dark-key-lay-br, oklch(from var(--_dark-key-lay-bg) calc(l + 0.246) calc(c + 0.067) calc(h - 1.1)));
  --_dark-key-lay-hv: var(--dark-key-lay-hv, oklch(from var(--_dark-key-lay-bg) calc(l + 0.057) calc(c + 0.032) calc(h - 1.3)));

  /* Selected Layer Key Colors */
  --_dark-key-lsl-bg: var(--dark-key-lsl-bg, oklch(from var(--_dark-key-lay-bg) calc(l + 0.160) calc(c + 0.081) calc(h - 12.0)));
  --_dark-key-lsl-br: var(--dark-key-lsl-br, oklch(from var(--_dark-key-lay-bg) calc(l + 0.246) calc(c + 0.067) calc(h - 01.1)));
  --_dark-key-lsl-hv: var(--dark-key-lsl-hv, oklch(from var(--_dark-key-lay-bg) calc(l + 0.225) calc(c + 0.053) calc(h - 12.3)));

  /* Misc dark mode colors */
  --_dark-kbd-fg: var(--dark-kbd-fg, oklch(96.7% 0.003 264.5));
  --_dark-kbd-border-color: var(--dark-kbd-border-color, oklch(55.1% 0.023 264.4));
  --_dark-kbd-background: var(--dark-kbd-background, linear-gradient(180deg, oklch(37.3% 0.031 259.7), oklch(37.3% 0.031 259.7), oklch(37.3% 0.031 259.7), oklch(27.8% 0.03 256.8)));
  --_dark-link-fg: var(--dark-link-fg, oklch(71.4% 0.143 254.6));
  --_dark-text-muted: var(--dark-text-muted, oklch(55.1% 0.023 264.4));

  /* Debug colors stay the same for both modes */
  --_diagram-debug-center-line-color: var(--diagram-debug-center-line-color, cornflowerblue);
  --_diagram-debug-keyboard-color: var(--diagram-debug-keyboard-color, khaki);
  --_diagram-debug-left-color: var(--diagram-debug-left-color, lawngreen);
  --_diagram-debug-right-color: var(--diagram-debug-right-color, red);
}
