---
title: KeymapKit
---

{% macro renderNav(items) %}
  <ul>
    {% for item in items %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.title }}</a>
          {% if item.children %}
            {{ renderNav(item.children) }}
          {% endif %}
        {% else %}
          {{ item.title }}
          {% if item.children %}
            {{ renderNav(item.children) }}
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/cmd-c05621.svg" />
    <link rel="stylesheet" href="/prism-one-dark.css" />
    <link rel="stylesheet" href="/style.css" />

    <script type="importmap">
      {
        "imports": {
          "@keymapkit/ui": "/KeymapKit/keymapkit/keymapkit.js",
          "@keymapkit/keyboard.advantage360": "/KeymapKit/keymapkit/keyboard.advantage360.js",
          "@keymapkit/keyboard.ergodox": "/KeymapKit/keymapkit/keyboard.ergodox.js",
          "@keymapkit/keyboard.planck48": "/KeymapKit/keymapkit/keyboard.planck48.js",
          "@keymapkit/examples": "/KeymapKit/keymapkit/examples.js"
        }
      }
    </script>

    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="JSGYGPXI"
      defer
    ></script>
    <script src="/common.js" defer></script>
    <title>
      {% if eleventyNavigation and eleventyNavigation.title %}{{
        eleventyNavigation.title
      }}{% else %}{{ title }}{% endif %}
    </title>

    <script src="https://cdn.usefathom.com/script.js" data-site="EDPOGVSL" defer></script>
  </head>
  <body>
    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
      ☰
    </button>
    <nav id="sidebar">
      <h1><a href="/">KeymapKit</a></h1>
      {{ renderNav(collections.all | eleventyNavigation) }}
      <ul>
        <li><a href="https://github.com/mrled/KeymapKit">GitHub</a></li>
      </ul>
    </nav>
    <main id="content">
      <h1>{{ title | safe }}</h1>
      {{ content | safe }}
    </main>
  </body>
</html>

<!-- -*- mode: html -*- -->
