/* Variables used in other styles
 *
 * Print a list of all variables that aren't used outside of this file, run from the project root:
 *    grep -o -e "--[a-zA-Z0-9-]\+"  ui/src/styles/vars.css | while read v; do if ! rg -g '!ui/src/styles/vars.css' -q -- "$v" .; then echo $v; fi; done
 *
 * There are three types of variables here:
 * Some can be overridden by the user who embeds the KeymapKit UI,
 * those which can be overridden by keyboard packages,
 * and those which cannot be overridden.
 *
 * User-overridable variables are limited to those that control appearance,
 * including colors and fonts.
 *
 * Keyboard-overridable variables are those that control the size of the keyboard,
 * which are used to scale the size of the whole UI.
 */

/*******************************************************************************
 * User-overridable variables, including for light mode and the default screen size
 */
:host {
  /* Fonts
   */
  --_key-legend-font: var(--key-legend-font, monospace);
  --_font-family: var(--font-family,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji);

  /* Colors that apply to all buttons except keyboard keys
   */
  --_button-border-color: var(--button-border-color, oklch(87.2% 0.009 258.3));

  /* Colors that apply to keymap-key buttons
   */
  --_key-fg: var(--key-fg, black);
  --_key-bg: var(--key-bg, oklch(95.9% 0.009 247.9));
  --_key-border: var(--key-border, oklch(74.6% 0.03 254.7));
  --_key-hover-bg: var(--key-hover-bg, oklch(86.9% 0.019 250.6));
  --_key-active-bg: var(--key-active-bg, oklch(80.1% 0.134 68.8));
  --_key-active-border: var(--key-active-border, oklch(57.9% 0.15 43.8));
  --_key-active-hover-bg: var(--key-active-hover-bg, oklch(65.3% 0.164 48.4));
  --_key-related-active-bg: var(--key-related-active-bg, oklch(94.6% 0.05 82.8));
  --_key-related-active-border: var(--key-related-active-border, oklch(72.4% 0.153 56.1));
  --_key-related-active-hover-bg: var(--key-related-active-hover-bg, oklch(80.1% 0.134 68.8));
  --_key-diagram-target-bg: var(--key-diagram-target-bg, oklch(93.1% 0.066 154.9));
  --_key-diagram-target-border: var(--key-diagram-target-border, oklch(71% 0.143 154.5));
  --_key-diagram-target-hover-bg: var(--key-diagram-target-hover-bg, oklch(78.6% 0.138 154.5));
  --_key-focus-bg: var(--key-focus-bg, oklch(92.9% 0.013 255.5));
  --_key-active-focus-bg: var(--key-active-focus-bg, oklch(76.7% 0.129 69));
  --_key-related-active-focus-bg: var(--key-related-active-focus-bg, oklch(88.9% 0.066 82.6));
  --_key-diagram-target-focus-bg: var(--key-diagram-target-focus-bg, oklch(86.5% 0.082 153.7));
  --_key-layer-bg: var(--key-layer-bg, oklch(94.6% 0.033 307.2));
  --_key-layer-border: var(--key-layer-border, oklch(62.7% 0.233 303.9));
  --_key-layer-hover-bg: var(--key-layer-hover-bg, oklch(86.6% 0.084 306.6));
  --_key-layer-selected-bg: var(--key-layer-selected-bg, oklch(78.7% 0.138 306.4));
  --_key-layer-selected-border: var(--key-layer-selected-border, oklch(54.1% 0.247 293));
  --_key-layer-selected-hover-bg: var(--key-layer-selected-hover-bg, oklch(67.9% 0.212 304.4 / 0.6));

  /* Colors that apply to kbd elements
   */
  --_kbd-fg: var(--kbd-fg, black);
  --_kbd-border-color: var(--kbd-border-color, oklch(73.8% 0 NaN));
  --_kbd-background: var(--kbd-background, linear-gradient(180deg, oklch(100% 0 NaN), oklch(100% 0 NaN), oklch(100% 0 NaN), oklch(89.8% 0 NaN)));

  /* These variables are not used in CSS,
   * but the JavaScript code that draws the diagram reads them from here and uses them.
   * We just want to set all the colors in the same place.
   */
  --_diagram-line-textref-color: var(--diagram-line-textref-color, oklch(78.6% 0.138 154.5)); /* Opaque, because this green is pretty light */
  --_diagram-line-selected-color: var(--diagram-line-selected-color, oklch(88.6% 0.099 80.9 / 0.6)); /* Slightly transparent, because this orange is pretty dark */
  --_diagram-debug-center-line-color: var(--diagram-debug-center-line-color, cornflowerblue);
  --_diagram-debug-keyboard-color: var(--diagram-debug-keyboard-color, khaki);
  --_diagram-debug-left-color: var(--diagram-debug-left-color, lawngreen);
  --_diagram-debug-right-color: var(--diagram-debug-right-color, red);

  /* Other colors
   */
  --_link-fg: var(--link-fg, oklch(59.5% 0.14 250.3));
  --_text-muted: var(--text-muted, oklch(71.4% 0.019 261.3));
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
  :host {
    /* Button colors */
    --_button-border-color: var(--button-border-color, oklch(44.6% 0.026 256.8));

    /* Key colors */
    --_key-fg: var(--key-fg, oklch(96.7% 0.003 264.5));
    --_key-bg: var(--key-bg, oklch(37.3% 0.031 259.7));
    --_key-border: var(--key-border, oklch(55.1% 0.023 264.4));
    --_key-hover-bg: var(--key-hover-bg, oklch(44.6% 0.026 256.8));
    --_key-active-bg: var(--key-active-bg, oklch(68.1% 0.152 58.4));
    --_key-active-border: var(--key-active-border, oklch(55.5% 0.146 49));
    --_key-active-hover-bg: var(--key-active-hover-bg, oklch(61.2% 0.14 54.8));
    --_key-related-active-bg: var(--key-related-active-bg, oklch(43.7% 0.102 53));
    --_key-related-active-border: var(--key-related-active-border, oklch(68.1% 0.152 58.4));
    --_key-related-active-hover-bg: var(--key-related-active-hover-bg, oklch(53.7% 0.093 66.5));
    --_key-diagram-target-bg: var(--key-diagram-target-bg, oklch(38.2% 0.072 154.4));
    --_key-diagram-target-border: var(--key-diagram-target-border, oklch(77.3% 0.153 163.2));
    --_key-diagram-target-hover-bg: var(--key-diagram-target-hover-bg, oklch(52.7% 0.137 150.1));
    --_key-focus-bg: var(--key-focus-bg, oklch(44.6% 0.026 256.8));
    --_key-active-focus-bg: var(--key-active-focus-bg, oklch(61.2% 0.14 54.8));
    --_key-related-active-focus-bg: var(--key-related-active-focus-bg, oklch(53.7% 0.093 66.5));
    --_key-diagram-target-focus-bg: var(--key-diagram-target-focus-bg, oklch(50.2% 0.105 156.3));
    --_key-layer-bg: var(--key-layer-bg, oklch(38.1% 0.166 305));
    --_key-layer-border: var(--key-layer-border, oklch(62.7% 0.233 303.9));
    --_key-layer-hover-bg: var(--key-layer-hover-bg, oklch(43.8% 0.198 303.7));
    --_key-layer-selected-bg: var(--key-layer-selected-bg, oklch(54.1% 0.247 293));
    --_key-layer-selected-border: var(--key-layer-selected-border, oklch(62.7% 0.233 303.9));
    --_key-layer-selected-hover-bg: var(--key-layer-selected-hover-bg, oklch(60.6% 0.219 292.7));

    /* Kbd element colors */
    --_kbd-fg: var(--kbd-fg, oklch(96.7% 0.003 264.5));
    --_kbd-border-color: var(--kbd-border-color, oklch(55.1% 0.023 264.4));
    --_kbd-background: var(--kbd-background, linear-gradient(
      180deg,
      oklch(37.3% 0.031 259.7),
      oklch(37.3% 0.031 259.7),
      oklch(37.3% 0.031 259.7),
      oklch(27.8% 0.03 256.8)
    ));

    /* Diagram colors */
    --_diagram-line-textref-color: var(--diagram-line-textref-color, oklch(77.3% 0.153 163.2));
    --_diagram-line-selected-color: var(--diagram-line-selected-color, oklch(76.9% 0.165 70.1 / 0.8));

    /* Other colors */
    --_link-fg: var(--link-fg, oklch(71.4% 0.143 254.6));
    --_text-muted: var(--text-muted, oklch(55.1% 0.023 264.4));
  }
}

/*******************************************************************************
 * Keyboard-overridable variables are those that control the size of the keyboard,
 */

.keymap-ui-kid-container {
  /* The --keyboard-grid-unit variable is used to scale the size of the whole UI.
   *
   * We use @container queries (see next section) to provide a default set of sizes for keyboard keys.
   * When writing a new keyboard that inherits from KeymapKeyboardElement,
   * you may include a <style> element that overrides this variable
   * targeted to :host and/or @container queries,
   * and it will override the defaults here.
   * (This is because this stylesheet is imported into the keymap-ui shadow DOM first,
   * and keyboard elements are added to the same shadow DOM later,
   * and later styles override earlier ones.)
   *
   * This unit MUST only be used for **children** of :host,
   * because @container queries are used to scale it,
   * and the :host element sets container-type:inline-size.
   */
  --keyboard-grid-unit: 0.75rem;
}

/* Scale with container queries.
 * These are relative to the closest ancestor with container-type:inline-size,
 * which we have set on :host.
 */
@container (min-width: 540px) {
  .keymap-ui-kid-container {
    --keyboard-grid-unit: 1rem;
  }
}
@container (min-width: 768px) {
  .keymap-ui-kid-container {
    --keyboard-grid-unit: 1.25rem;
  }
}

/*******************************************************************************
 * Internal variables that are not intended to be overridden.
 */

.keymap-ui-kid-container {
  /* Calculations based on --keyboard-grid-unit.
   */
  --kid-diamarg-width: calc(var(--keyboard-grid-unit) * 2);
}
